<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_name</key>
	<string>Flyve MDM Agent</string>
	<key>message_init</key>
	<string>Flyve MDM is a Mobile management software that enables you to secure and manage all  the mobile devices  of your business or family via a web-based console</string>
	<key>enroll</key>
	<string>Enroll</string>
	<key>enroll_device</key>
	<string>Enroll device</string>
	<key>agent_reboot</key>
	<string>Flyve MDM Agent is restarted</string>
	<key>loading</key>
	<string>PLEASE WAIT..</string>
	<key>success</key>
	<string>Success!</string>
	<key>enroll_fail</key>
	<string>Enrollment fail</string>
	<key>error_profile</key>
	<string>Error: The device needs to change its profile</string>
	<key>service_notif_id</key>
	<string>Flyve MDM Inventory Agent</string>
	<key>title_ supervised</key>
	<string>Device supervised by</string>
	<key>title_user</key>
	<string>User information</string>
	<key>title_resources</key>
	<string>Agent resources</string>
	<key>log_report</key>
	<string>Log report</string>
	<key>open</key>
	<string>OPEN</string>
	<key>add_phone</key>
	<string>add phone</string>
	<key>add_email</key>
	<string>add email</string>
	<key>phone</key>
	<string>Phone</string>
	<key>email</key>
	<string>Email</string>
	<key>first_name</key>
	<string>First name</string>
	<key>last_name</key>
	<string>Last name</string>
</dict>
</plist>
